version: '2'
services:
    web:
        image: 'gitlab/gitlab-ce'
        restart: 'unless-stopped'
        hostname: "{{ gitlab_hostname }}"
        environment:
            GITLAB_OMNIBUS_CONFIG: |
                external_url "{{ gitlab_external_url }}"
                {% if enable_letsencrypt %}
                letsencrypt['enable'] = true
                letsencrypt['email'] = "{{ letsencrypt_email }}"
                {% endif %}
                # Add further gitlab.rb configuration here
        ports:
            - "{{ gitlab_http_port }}:80"
            - "{{ gitlab_https_port }}:443"
            - "{{ gitlab_ssh_port }}:22"
        volumes:
            - "{{ gitlab_home }}/config:/etc/gitlab"
            - "{{ gitlab_home }}/logs:/var/log/gitlab"
            - "{{ gitlab_home }}/data:/var/opt/gitlab"
        shm_size: "{{ gitlab_shm_size }}"
        container_name: "{{ gitlab_container_name }}"